<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Disease Data Visualization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css?v=1asdf22aiasalkoisdfdkjnklanvijpjasdfoiasdfowqsf790">

</head>
<body>

<!-- header navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: brown" href="#">Team Sword <i class="fal fa-swords" style="font-weight: bold"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Data Visualization <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Important Factors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Predict</a>
            </li>
        </ul>
    </div>
</nav>


<div class="w3-panel w3-card-4 w3-white"
     style="margin-left: 20%; margin-right: 20%; min-height: 420px; padding: 20px;">
    <center><h2 style="margin-bottom: 0; font-weight: bold; color: dimgrey"><i class="far fa-chart-bar" style="font-size: 40px"></i> Data Visualization</h2></center>
    <hr style="border-color: lightgrey">



    <img src="/static/figures/3.png" style="width: 630px">


</div>


<!-- visualized images -->
<div class="row">
    <div class="column">
        <img src="/static/figures/3.png">
        <img src="/static/figures/4.png">
        <img src="/static/figures/5.png">
        <img src="/static/figures/6.png">
        <img src="/static/figures/7.png">
        <img src="/static/figures/8.png">
        <img src="/static/figures/9.png">
        <img src="/static/figures/10.png">
        <img src="/static/figures/11.png">
        <img src="/static/figures/12.png">
        <img src="/static/figures/13.png">
    </div>
</div>

</body>
</html>